---
layout: default
---

<h1>
  {{ page.title }}
</h1>
    <div class="myselfInfo">
        <div class="media-left">
          <img src="http://ozc5dgoun.bkt.clouddn.com/wx.jpg" alt="" class="img">
        </div>
        <div class="media-body" style="font-size:12px;">
          <p>GitHub&nbsp;&nbsp;：https://github.com/xmtgithub123</p>
          <p>扣&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣：1018915057</p>
          <p>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：1018915057@qq.com</p>
          <p>微&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博：嘻嘻哈哈徐小婷</p>
        </div>
      </div>

      {{ content }}
