---
layout: default
title: Home
---

{% for post in paginator.posts %}
<div class="posts">
  <h2 style="margin-bottom: 5px;">
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h2>
  {% if post.image.teaser %}
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image.teaser }}"></a>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 50 }} <a href="{{ site.github.url }}{{ post.url }}">更多>></a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">上页</a>
    {% else %}
      <span class="pagination-button">上页</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">下页</a>
  {% else %}
    <span class="pagination-button">下页</span>
  {% endif %}

</div>
