---
layout: default
---

<h1>
  {{ page.title }}
</h1>
    <div class="myselfInfo">
        <div class="media-left">
          <img src="/assets/img/m.JPG" alt="" class="img-avatar">
        </div>
        <div class="media-body" style="font-size:12px;">
          <p>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：徐梦婷 / Anna</p>
          <p>出生年月：1993年10月14日</p>
          <p>毕业院校：徐州工程学院</p>
          <p>专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：计算机科学与技术</p>

          <p class="mysay">[一朝入了前端门,从此踏上不归路!从实训实习到毕业到现在,入坑已有3年时间,'前端'看似简单的一项技能,实际包含着更深度更广度的知识链.我不算最优秀的前端,但我一直保持着对前端基础的巩固及前端新知识的探索.前端如此优雅!]</p>
        </div>
      </div>

      {{ content }}

