---
layout: default
---

<h1>
  {{ page.title }}
</h1>

{% if page.image.feature %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image.feature }}">
{% endif %}

{{ content }}

<span class="post-date">
  Written on
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.data.authors.primary.name }}
  {% endif %}
</span>

{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'xmtgithub123',
    repo: 'git@github.com:xmtgithub123/xmtgithub123.github.io.git',
    oauth: {
        client_id: '601a53e15b525e436ee7',
        client_secret: '5e9023d38d68955cb67d341f8d8a6a82cac0e750',
    },
});
gitment.render('gitmentContainer');
</script>